<h2>Hackthon-2021</h2>
<h4> welcome to  coding aliens </h4>
<!DOCTYPE html>
<html>
<head>
	<title>About-us Page</title>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<div class="about">
			<div class="text">
				<h1>About Us</h1>
				<div class="line"></div>
                
			</div>
		</div>
		<div class="content">
			<p><b>O</b>nline Examination Project  is a web portal which is developed or implemented in java domain or platform. This project is helpful for students, companies or any organization to conduct any examinations from this site.
                In this portal the user must register by entering the credentials. The registered users can login to write a exam or to view reports. There are total 6 topics to write a exam. Each exam consists of 3 levels and each level contains 10 questions.
                If user passes the level, then only he is allowed to to write the next level otherwise the logout button is enabled, the user 
                can logout from the portal. The admin can view the details of registered users, questions and results of all the users.
            </p>
		</div>
		</div>
    <!-- <div class="container">
        <form>
            <div><i class="fa fa-address-card" aria-hidden="true"></i> Bangalore, Karnataka </div><br>
            <div><i class="fa fa-envelope-open-o" aria-hidden="true"></i> ramyaknis16@gmail.com  </div><br>
            <div><i class="fa fa-phone" aria-hidden="true"></i> +91-9447754567</div><br>
        </form>
      </div> -->
      <mat-card>
            
        <mat-card-header>
           <h1>Contact Us</h1>
        </mat-card-header>
        <mat-card-content>
          <div>
              <table> 
                <tr>
                    
                    <td> <i class="fa fa-address-card" aria-hidden="true"></i> Pune,Maharashtra  </td> 
                    </tr>
                    <tr>
                    <td><i class="fa fa-envelope-open-o" aria-hidden="true"></i> pavanchitikela777@gmail.com </td>  
                    </tr>
                    <tr> 
                    <td><i class="fa fa-phone" aria-hidden="true"></i> +91-8987675646</td>
                 </tr>
              </table>
            </div>
       
        </mat-card-content>
    </mat-card> 
		<footer>Online Exam Project</footer>  
</body>
</html>



